<div id="<%= dom_id host %>">
  <p>
    <strong>Bio:</strong>
    <%= host.bio %>
  </p>

  <p>
    <strong>Organisation:</strong>
    <%= host.organisation %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= host.website %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= host.number %>
  </p>

  <p>
    <strong>String:</strong>
    <%= host.string %>
  </p>

</div>
