<div id="<%= dom_id participant %>">
  <p>
    <strong>Name:</strong>
    <%= participant.name %>
  </p>

  <p>
    <strong>Interest:</strong>
    <%= participant.interest %>
  </p>

  <p>
    <strong>City:</strong>
    <%= participant.city %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= participant.birthdate %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= participant.number %>
  </p>

</div>
