<h1>All Events</h1>

<% if current_host %>
  <%= link_to "Create New Event", new_event_path, class: "btn btn-primary" %>
<% end %>

<ul>
  <% @events.each do |event| %>
    <li>
      <strong><%= event.title %></strong> - <%= event.description %><br>
      Start: <%= event.starttime.strftime("%d %b %Y %I:%M %p") %> |
      End: <%= event.endtime.strftime("%d %b %Y %I:%M %p") %><br>

      <%= link_to "Show", event_path(event) %>
      
      <% if current_host == event.host %>
        | <%= link_to "Edit", edit_event_path(event) %>
        | <%= link_to "Delete", event_path(event), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </li>
    <hr>
  <% end %>
</ul>
