<h1>Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Registration</th>
      <th>Ticket Code</th>
      <th>Issued At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.registration_id %></td>
        <td><%= ticket.ticket_code %></td>
        <td><%= ticket.issued_at %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Ticket', new_ticket_path %>
